# Working with Sets

<h3> Table of Contents </h3>

<div style="margin-top: 20px">
    <ul>
        <li><a href="#sets">Sets</a>
        <li><a href="#function">Sets functions and methods</a></li>
        <li><a href="#lab">Lab Assignment</a></li>
            </ul>
       
</div>

<h3> Sets </h3>
<a id="sets"></a>

<p> Python sets are collection of <b>unique</b> elements. Sets are used for removing duplicates from a sequence or for computing the math operations that applies on sets (union, intersection, difference, and symmetric difference). </p> 

<p> Unlike strings, lists, and tuples, sets are <b> unordered </b>. i.e. the item's positions in sets are <b> not indexed</b>. </p>
<p>To create set we using <b>{  }</b> and list items of the set inside them </p>

In [1]:
# Example of creating sets using {}
set1 = {1,2,3,4,5,5,5}
print(set1)           # prints {1,2,3,4,5}. It removes the repeated items.
print(type(set1))     # print set data type

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
# Example of casting a list to a set
L1 = [1,2,2,2,2,2,3,3,3,3,3,4,5]    # list
set1 = set(L1)      # changes the list L1 to set set1. 
print(set1)         # prints {1,2,3,4,5}
print(type(set1))   # print set data type

{1, 2, 3, 4, 5}
<class 'set'>

<h3> Sets functions and methods </h3>
<a id="function"></a>
<p> Sets have predefined functions and methods that are illustrated with examples in the cells below. </p>

In [67]:
# add() method in sets: adds an item to the end of a set
set1 = {1,2,3,4}
set1.add(7)
print(set1)

{1, 2, 3, 4, 7}

In [68]:
# clear() method in sets: remove all items from a set
set1 = {1,2,3,4}
set1.clear()
print(set1) #prints an empty set

set()

In [69]:
# copy() method in sets: copies the items of a set into a new one
# Copy by value and not be reference 
set1 = {1,2,3,4}
set2 = set1.copy() # copy set1 into set2 by value
print(set2)        # prints {1,2,3,4}
print(type(set2))  # returns a set

<class 'set'>
{1, 2, 3, 4}

In [71]:
# difference() method in sets: returns a set which contain the difference with other sets
set1 = {1,2,3,4}
set2 = {2,3,5}
set3 = set1.difference(set2) #items 1 and 4 are not in set2. So set3 = {1,4}
print(set3)

{1, 4}

In [73]:
#difference_update() method: removes all items from a set that exist in another defined set
set1 = {1,2,3,4}
set2 = {2,3,5}
set1.difference_update(set2) # updates set1 by removing 2 and 3 since they are in set2. 
print(set1)

{1, 4}

In [75]:
#discard(i) method in sets: removes specified item i from the set.
set1 = {1,2,3,4,5}
set1.discard(2)
print(set1) #prints {1,3,4,5}

{1, 3, 4, 5}

<p> If the item specified does not exist in the set, Python does not action and throws no error. </p>

In [76]:
#Example of discard with an item that does not exist in the set
set1 = {1,2,3,4,5}
set1.discard(8)
print(set1)

{1, 2, 3, 4, 5}

In [78]:
# intersection() method: returns a set that is the intersection of two specified sets
set1={1,2,3,4}
set2 = {2,4,8}
set3 = set1.intersection(set2)
print(set3)     #print {2,4}

{2, 4}

In [4]:
# The intersection_update(S) method in sets: removes items from a list that does not exit in Set S.
# The intersection_update() method is different from the intersection() method, 
# because the intersection() method returns a new set, without the unwanted items,
# and the intersection_update() method removes the unwanted items from the original set.
set1 = {1,2,3,4}
set2 = {2,4,8}
set1.intersection_update(set2)
print(set1) #print {2,3}

{2, 4}

In [80]:
# The isdisjoint(S) method: boolean function that returns whether two sets intersect or not. True if the sets do not intersect
set1 = {1,2,3,4,5}
set2 = {7,8,9}
set1.isdisjoint(set2)

True

In [81]:
# The issubset() method: returns whether a set is a subset of another set.
set1 = {1,2}
set2 = {1,2, 3,4,5}
set1.issubset(set2)

True

In [82]:
# The issuperset() method: tests whether a set is a superset of another specified set.
set1 = {1,2}
set2 = {1,2,3,4,5,6}
set2.issuperset(set1)

True

In [84]:
# The pop() method: removes a random element from a set. You cannot specify this element with pop.
set1 = {1,2,3,7,8}
set1.pop()
print(set1)

{2, 3, 7, 8}

In [85]:
# The remove() method: removes a specific element from a set. 
set1 = {1,2,3,4}
set1.remove(3)
print(set1)

{1, 2, 4}

<p> If the element does not exist, Python throws an error. </p>

In [86]:
set1 = {1,2,3,4}
set1.remove(8)

KeyError: 8

In [87]:
# The symmetric_difference(): Returns a set with the symmetric differences of two sets
set1 = {1,2,3,4,8}
set2= {2,3,7,9}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 4, 7, 8, 9}

In [89]:
# The symmetric_difference_update (): updates a set by removing the items that exist in another set
set1 = {1,2,3,4,8}
set2= {2,3,7,9}
set1.symmetric_difference_update(set2)
print(set1)

{1, 4, 7, 8, 9}

In [90]:
# The union() method: returns a set that contains the union of two sets
set1 = {1,2,3}
set2 = {2,3,4}
set3= set1.union(set2)
print(set3)

{1, 2, 3, 4}

In [91]:
# The update() method: updates a set by adding the union of this set and another set
set1 = {1,2,3,4}
set2 = {5,4,8}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 8}

<h3> Lab Assignment </h3>
<a id="lab"></a>

<p> Q1) Write a program that creates a set (named numbers), that includes the numbers 1,2,3,4,5. </p>

<p> Q2) Write a program the adds the integers [6,7,8] from a list named list1 to the set numbers. </p>

<p> Q3) Write a program that displays the union and the intersection between the following two sets: <br>
    set1 -> {1,2,3,4,5} <br>
    set2 -> {2,3,8,10} </p>

<p> Q4) Write a program to display if set1 is a subset of set2.</p>