<h3> Practice</h3>
<a id ="lab"> </a>

<p> Q1) find the result of the following equation: </p>

<p>3*4 </p>
<p>3**4 + 10 </p>
<p>1/(2**3) + 8 </p>
<p>(3 + 5*2)**2 </p>
<p>1.2 * 3^4 + (5400) </p>

<p> Q2) Calculate the integer (//) and modulus (%) division of 8 by 3 and 5 by 5. </p>

<p> Q3) Use print() and type() functions to print values and type of the following expressions: </p>

<p>3**2 + 1 </p>
<p>1/(3**3) + 18 </p>

<p> Q4) Bring 3 to power 8 (show both way how it can be done): </p>

<p> Q5) Cast 1.25 to integer data type: </p>

<p> Q6) Cast 125 to float data type: </p>

<p> Q7) Evalueate boolean expressions: </p>
<p> (20 > 35) and (68/3 < 13)  </p>
<p> (20 > 35) or (68/3 < 13) </p>
<p> not(20 > 35) </p>

<p> Q7) Create Array with 5 intagers and print its type. </p>

<p> Q8) Create Array with 3 strings and print its type. </p>

## String

<p> Q1) Determine the value of the expressions: </p>

<p>"Python"[4] </p>
<p>"Python"[-3]</p>
<p>"Python"[0:3]</p>
<p>"Python"[:2]</p>
<p>"Python"[-3:-2]</p>
<p>"Python"[2:-2]</p>
<p>"Python"[:]</p>
<p>"Python".find("tho")</p>
<p>"Python".find("t")</p>
<p>"whippersnapper".rfind("pp")</p>
<p>"Mississippi".find("ss")</p>
<p>"Python".count("s")</p>
<p>"Python".upper()</p>
<p>"Python".lower()</p>
<p>len("Python")</p>
<p>"Python"[3:len("Python")]</p>
<p>"let it go".title().find("G")</p>
<p>"Amazon".lower().count("a")</p>
<p>"king kONG".title()</p>

<p> Q2) Determine output: </p>
<p> m = 4 </p>
<p> n = 3 </p>
<p> s = "Microsoft" </p>
<p> t = "soft" </p>
<p> print(len(s))</p>
<p> print(s.lower())</p>
<p> print(s[m:m+2])</p>
<p> print(s.find(t))</p>

<p> print("Your age is " + str(21) + ".")</p>
<p> print("Fred has " + str(3) + "children.")</p>
<p> print("F" + ("m" * 6) + ".")</p>
<p> print("a" + (" " * 5) + "b")</p>
<p> print("spam" * 5)</p>

<p> Q3) Determine output: </p>

<p>r = "A ROSE" </p>
<p>b = " IS " </p>
<p>print(r + b + r + b + r) </p>

<p> Q4) Determine output: </p>

<p>var = "A ROSE" </p>
<p> var += var </p>
<p>print(var) </p>

<p> Q5) Determine output: </p>

<p>num = input("Enter the integer: ") </p>
<p>print("1" + str(num)) </p>
<p><i>(Assume the response is 8.)</i></p>

<p> Q6) Determine output: </p>

<p>num = eval(input("Enter the number: ")) </p>
<p>print(1 + num) </p>
<p><i>(Assume the response is 8.)</i></p>

<p> Q7) Find and correct all errors: </p>

<p>phoneNumber = 234-5678</p>
<p>print("My phone number is " + phoneNumber) </p>

<p> Q8) Find and correct all errors: </p>

<p>quote = I came to Casablanca for the waters.</p>
<p>print(quote + ": "Bogart") </p>

<p> Q9) Find and correct all errors: </p>

<p>for = "happily ever after"</p>
<p>print("They lived " + for) </p>

<p> Q10) Find and correct all errors: </p>

<p>age = 19</p>
<p>print("Age " + age) </p>

<p> Q11) Find and correct all errors: </p>

<p> num = 1234</p>
<p>print(num[3]) </p>

<p> Q12) Determine output: </p>

<p> print("Py", "th", "on", sep="")</p>
<p> print(1, 2, 3, sep="x") </p>
<p> print("tic", "tac", "toe", sep="-")</p>
<p> print("one", "two", "three", sep=",")</p>
<p> print("Hello\n") print("World")</p>
<p> print("One\tTwo\tThree\tFour")</p>
<p> print("1\t2\t3\t4")</p>
<p> print("Hello\nWorld")</p>
<p> print("Hello\nWorld".expandtabs(16))</p>

<p> Q13) Determine output: </p>

<p> print("01234567890123456")</p>
<p> print("{0:>5s}{1:^5s}{2:5s}".format("A","B", "C"))</p>

%%markdown
<p> Q14) Determine output: </p>
<p>print("0123456789")</p>
<p>print("{0:10.2%}".format(0.123))</p>
<p>print("{0:^10.1%}".format(1.23))</p>
<p>print("{0:<10,.2%}".format(12.3))</p>b

<p> Q15) Determine output: </p>

<p> print("${0:,.2f}".format(1234.567))</p>
<p> print("{0:,.0f}".format(1234.567))</p>
<p> print("{0:,.0f}".format(1.234567))</p>
<p> print("${0:,.2f}".format(1234567))</p>

<p> print("{0:10s}{1:^16,d}{2:10.2%}".format("Spanish",38700000000, 0.0585))</p>

## List

<p> Q1) Create the list nums = [6,2,8,0] </p>

<p> print("Largest Number :", max(nums)) </p>
<p> print("Length :", len(nums)) </p>
<p> print("Total :", sum(nums)) </p>
<p> print("Number lot :", sum(nums)/list(nums)) </p>

<p> Q2) </p>

<p> L = ["one", "for", "all"] </p>
<p> L[0], L[-1] = L[-1], L[0]  </p>
<p> print(L) </p>

<p> Q3) </p>

<p> nations = "France\nEngland\nSpain\n" </p>
<p> countries = nations.split()  </p>
<p> print(countries) </p>

<p> Q4) </p>

<p> allDay = "around-the-clock" </p>
<p> print(allDay.split('-')) </p>

<p> Q5) </p>

<p> nums = (3, 9, 6) </p>
<p> print(list(nums)) </p>

<p> Q6) </p>

<p> nums = [3, 9, 6] </p>
<p> print(tuple(nums)) </p>

<p> Q7) </p>

<p> list1 = ["mur"]*2 </p>
<p> print("".join(list1)) </p>

<p> Q8) </p>

<p> list1 = [0] </p>
<p> print(list1*4) </p>

<p> Q10) </p>

<p> answer = ["Yes", "No","Yes", "No", "Maybe"] </p>
<p> loc = answer.index("No") </p>
<p> print(location) </p>

## Sets

Q1) Write a program that creates a set (named numbers), that includes the numbers 1,2,3,4,5.

Q2) Write a program the adds the integers [6,7,8] from a list named list1 to the set numbers.

Q3) Write a program that displays the union and the intersection between the following two sets: 
set1 -> {1,2,3,4,5} 
set2 -> {2,3,8,10}

Q4) Write a program to display if set1 is a subset of set2.

<p> Q5) Create Set of 5 intagers and print its type. </p>

<p> Q6) Create Set of 3 strings and print its type. </p>

## Tuple

<p> Q1) Create Tuple of 5 intagers and print its type. </p>

<p> Q2) Write a tuple that is named tuple1 and that contains the items ('John', True, 0, 1.6). </p>

Q3) Write a program that initiate the variables cost1, cost2, and costs 3 and assigns them the values 15.7, 22.4, 65.1 respectively in one line

Q4) Write a program that finds the index of the item 1.6 in the tuple tuple1.

Q5) Write a program that converts the tuple words into a string. words = {'Hello', 'Python'} 
Hint: use join() method.

## Dictionary

<p> Q1) Create Dictinary with 5 elements where key is country 2 letter abbriviations and country name as its values. </p>

Q2) Given a Python dictionary, Change Brad’s salary to 8500

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

Q3) Try to do the followings for Inventory dictionary:

Add a key to inventory called 'pocket'.

Set the value of 'pocket' to be a list consisting of the strings 'seashell', 'strange berry', and 'lint'.

.sort() the items in the list stored under the 'backpack' key.

Then .remove('dagger') from the list of items stored under the 'backpack' key.

Add 50 to the number stored under the 'gold' key.

In [ ]:
inventory = {
    'gold' : 500,
    'pouch' : ['flint', 'twine', 'gemstone'],
    'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}